[Desktop Entry]
Type=Application
Name=Mininet Lab
Comment=Start Mininet Docker container and open terminal
Icon=terminal
Exec=/home/astro/docker/mininet/mininet-lab-shortcut.sh
Terminal=false
Categories=Development;Education;
MimeType=text/x-python;
StartupNotify=true