[Unit]
Description=Run EKOS Automation every 5 minutes
Requires=ekos-runner.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
